{% extends 'base.html' %}
{% block content %}
    {% for restaurant in restaurants %}
        <div_ngcontent-serverapp-c78 class="contents flex-grow-1 ng-tns-c78-2 ng-trigger ng-trigger-subMenuAnimation" style="left: 0px; padding-top:10%">
          <div _ngcontent-serverapp-c78 class="cdk-drag list-group-item d-flex justify-content-start align-items-center ng-tns-c78-2 ng-star-inserted">
            <p><a href="{% url 'delectatech:restaurant_detail' pk=restaurant.uidentifier %}">{{ restaurant.name }}<p>
          </div>
        </div>
    {% endfor %}
{% endblock %}
